{% extends "base.html" %}

{% block title %}James Pasko | About{% endblock %}

{% block content %}
<p class="blurbs">
  Hello, I'm James.<br><br>
  If this were the 60s, I would probably want to work at NASA.  But the
  power of the internet is even more fascinating, and that's one of the 
  reasons I became a software engineer.  Like many good things in life, 
  it's been quite a serendipitous journey.<br><br>
  And now, I find myself at yet another crossroad.  I've taken a break 
  from my employer, Google, and given myself a year to find my calling. 
  Perhaps that will be entrepreneurship, perhaps I'll join a small 
  company, or maybe I'll travel and eventually come back to Google. 
  One thing is certain, though: I intend to take a few more steps out 
  into this world.<br><br>
  ~
</p>
{% endblock %}
